<nav class="flex items-center justify-between flex-wrap concept7-bg p-6">
    <a href="/" class="flex items-center flex-shrink-0 text-white mr-6">
        <img class="fill-current h-8 mr-2" src="logo.svg"> </img>
    </a>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
                Home
            </a>
            {{nav:collection:pages}}
                <a href="{{url}}" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
                    {{title}}
                </a>
            {{/nav:collection:pages}}

        </div>
        <div>
            {{ if logged_in }}
            <a class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4" href="/cp">Dashboard</a>
            {{ else }}
            <a class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4" href="/login">login</a>
            {{ /if }}

        </div>
    </div>
</nav>
